In [1]:
import xlrd

In [2]:
loc = "./주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211130.xlsx"

# To oepn Workbook
wb = xlrd.open_workbook(loc)
sheet = wb.sheet_by_index(0)

print(sheet.cell_value(0, 0))

지역명

In [3]:
print('sheet.nrows: {}'.format(sheet.nrows))
print('sheet.ncols: {}'.format(sheet.ncols))

sheet.nrows: 6291
sheet.ncols: 5

# Extracting all columns name

In [4]:
for i in range(sheet.ncols):
    print(sheet.cell_value(0, i))

지역명
규모구분
연도
월
분양가격(제곱미터)

# Extract the first column

In [5]:
# for i in range(sheet.nrows):
for i in range(10):
    print(sheet.cell_value(i, 0))

지역명
서울
서울
서울
서울
서울
인천
인천
인천
인천

# Extract a particullar row value

In [6]:
print(sheet.cell_value(0, 0))
print(sheet.row_values(1))

지역명
['서울', '모든면적', 2015.0, 10.0, 5841.0]

# How to save an Excel worksheet as CSV

https://stackoverflow.com/questions/10802417/how-to-save-an-excel-worksheet-as-csv

[wb] 를 [w] 로.<br />
https://stackoverflow.com/questions/34283178/typeerror-a-bytes-like-object-is-required-not-str-in-python-and-csv

CSV in Python adding an extra carriage return, on Windows<br />
https://stackoverflow.com/questions/3191528/csv-in-python-adding-an-extra-carriage-return-on-windows

위의 방법으로 지워지지 않고, 파일 자체에서 [^\r\n] 을 지워야 한다면 참고<br />
https://stackoverflow.com/questions/35688126/replace-strings-in-a-file-using-regular-expressions

In [7]:
import xlrd
import csv

In [8]:
with xlrd.open_workbook('./주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211130.xlsx') as wb:
    sh = wb.sheet_by_index(0) # or wb.sheet_by_name('주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20')
    with open('1st_sheet.csv', 'wb') as f:
        c = csv.writer(f)
        for r in range(sh.nrows):
            c.writerow(sh.row_values(r))
            
# https://stackoverflow.com/questions/34283178/typeerror-a-bytes-like-object-is-required-not-str-in-python-and-csv

TypeError: a bytes-like object is required, not 'str'

In [9]:
with xlrd.open_workbook('./주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211130.xlsx') as wb:
    sh = wb.sheet_by_index(0) # or wb.sheet_by_name('주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20')
    with open('1st_sheet_2.csv', 'w') as f:
        c = csv.writer(f)
        for r in range(sh.nrows):
            c.writerow(sh.row_values(r))

> 공백을 제거해야 했음.
>
> https://withserver.tistory.com/entry/notepad-에서-빈줄제거-및-공백조절제거방법
>
> 그 다음 xlrd 에서 csv 를 만들 때, 인코딩은 euc-kr 이었고, notepad++ 에서 잘 열렸음. ^\r\n => ''
>

In [10]:
import numpy as np
import pandas as pd

df = pd.read_csv('./1st_sheet_3.csv', encoding='euc-kr')
df

     지역명                     규모구분      연도     월 분양가격(제곱미터)
0     서울                     모든면적  2015.0  10.0     5841.0
1     서울            전용면적 60제곱미터이하  2015.0  10.0     5652.0
2     서울   전용면적 60제곱미터초과 85제곱미터이하  2015.0  10.0     5882.0
3     서울  전용면적 85제곱미터초과 102제곱미터이하  2015.0  10.0     5721.0
4     서울           전용면적 102제곱미터초과  2015.0  10.0     5879.0
...   ..                      ...     ...   ...        ...
6285  제주                     모든면적  2021.0  11.0     6860.0
6286  제주            전용면적 60제곱미터이하  2021.0  11.0        NaN
6287  제주   전용면적 60제곱미터초과 85제곱미터이하  2021.0  11.0     6787.0
6288  제주  전용면적 85제곱미터초과 102제곱미터이하  2021.0  11.0     5924.0
6289  제주           전용면적 102제곱미터초과  2021.0  11.0     6815.0

[6290 rows x 5 columns]

In [11]:
df.shape

(6290, 5)

In [12]:
with xlrd.open_workbook('./주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211130.xlsx') as wb:
    sh = wb.sheet_by_index(0) # or wb.sheet_by_name('주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20')
    with open('1st_sheet_4.csv', 'w', newline='', encoding='euc-kr') as f:
        c = csv.writer(f)
        for r in range(sh.nrows):
            c.writerow(sh.row_values(r))

In [13]:
df = pd.read_csv('./1st_sheet_4.csv', encoding='euc-kr')
df

     지역명                     규모구분      연도     월 분양가격(제곱미터)
0     서울                     모든면적  2015.0  10.0     5841.0
1     서울            전용면적 60제곱미터이하  2015.0  10.0     5652.0
2     서울   전용면적 60제곱미터초과 85제곱미터이하  2015.0  10.0     5882.0
3     서울  전용면적 85제곱미터초과 102제곱미터이하  2015.0  10.0     5721.0
4     서울           전용면적 102제곱미터초과  2015.0  10.0     5879.0
...   ..                      ...     ...   ...        ...
6285  제주                     모든면적  2021.0  11.0     6860.0
6286  제주            전용면적 60제곱미터이하  2021.0  11.0        NaN
6287  제주   전용면적 60제곱미터초과 85제곱미터이하  2021.0  11.0     6787.0
6288  제주  전용면적 85제곱미터초과 102제곱미터이하  2021.0  11.0     5924.0
6289  제주           전용면적 102제곱미터초과  2021.0  11.0     6815.0

[6290 rows x 5 columns]